
.tab-list {  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-left: 10%;
  padding-right: 90%;
  padding-top: 5%;
  background-color: transparent;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  font-family: "NTR", sans-serif;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: 16px;
  padding: 0.2em;
  font-weight: bold;
}

.tab-list-active {
  border: transparent;
  border-color: var(--selection) !important;
  border-width: 1px 1px 0 1px;
}

li {
  text-decoration: none !important;
  color: var(--selection) !important;
}

li:hover {
  color: var(--section-title) !important;
}